---
import { defaultLocale, moreLocales } from "@/config"
import Layout from "@/layouts/Layout.astro"

export async function getStaticPaths() {
  type PathItem = {
    params: { about: string }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { about: 'friends/' },
    props: { lang: defaultLocale },
  })

  // More locales
  moreLocales.forEach((lang: string) => {
    paths.push({
      params: { about: `${lang}/friends/` },
      props: { lang },
    })
  })

  return paths
}
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- About Page Content -->
  <div class="heti">
      <center style="font-weight: bold">申请友链须知</center>
      <hr>
      <p><em>友链正在维护中，请等待维护完成，多谢理解！</em></p>

      <p>申请请提供：站点名称、站点链接、站点描述、<strong>logo或头像</strong>（<code>不要设置防盗链</code>）。</p>

      <p>排名不分先后，刷新后重排，更新信息后请留言告知。会定期清理很久很久不更新的、不符合要求的友链。本站不存储友链图片，如果友链图片换了无法更新。图片裂了的会替换成默认图，需要更换的请留言告知。</p>

      <p>如果您也想加入本页，请在评论区留言并且附上您网站的URL和介绍图（宽与高的比应尽可能接近1）。</p>

      <p>本站友链信息如下，申请友链前请先添加本站信息：</p>

      <pre><code>
        网站名：老卡尔的旧纸箱
        网站URL：Karlbaey.top
        简介：这里存着卡尔白的过去、现在和未来
        站长：Karlbaey101
        站长头像：https://avatars.githubusercontent.com/u/191684279
        本站 favicon：https://karlbaey.top/images/Fundamental/Favicon.png
      </code></pre>
  </div>
</Layout>